body
    background: #E5E5E5;
    padding: 28px 30px 47px 26px

.sitemap-info 
    background: #FFFFFF
    border: 1px solid #C2CFE0
    box-sizing: border-box
    border-radius: 5px
    width: 100%
    min-height: 394px
    margin: 0 auto
.header
    padding: 22px 30px 20px 24px
    display: flex
    justify-content: space-between
    &__logo
        display: flex
        align-items: center
        
        width: 50%
        img
            display: block
            width: 16px
            height: 16px
    &__title 
        font-family: 'Roboto'
        font-weight: 700
        font-size: 20px
        line-height: 23px
        margin-right: 9px
    &__subtitle
        font-family: 'Roboto'
        font-weight: 400
        font-size: 14px
        line-height: 16px
        color: #C2CFE0
        display: flex

    &__subtitle_recrawl
        margin-right: 26px

.filters
    &__form > input,
    &__form > select
        background: #FFFFFF
        border: 1px solid #C2CFE0
        box-sizing: border-box
        border-radius: 5px
        width: 162px
        height: 30px



